.chat-box-area {
  max-height: 60vh;  /* Ajusta según el tamaño de tu pantalla */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
