<div class="page-content space-top p-b50">
    <div class="container"> 
        <div class="chat-box-area style-2"> 
            <div *ngFor="let message of messages" [ngClass]="{'chat-content user': message.sender === 'me', 'chat-content': message.sender !== 'me'}">
                <div class="message-item">
                    <div class="bubble">{{ message.text }}</div>    
                    <div class="message-time">{{ message.time }}</div>    
                </div>
            </div>
        </div>
        <div class="page-content space-top p-b50">
            <div class="container"> 
              <div class="chat-box-area style-2"> 
                <div *ngFor="let message of messages" [ngClass]="{'chat-content user': message.sender === user.id, 'chat-content': message.sender !== user.id}">
                  <div class="message-item">
                    <div class="bubble">{{ message.text }}</div>    
                    <div class="message-time">{{ message.created | date:'shortTime' }}</div>    
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Escribe un mensaje..." class="form-control">
                <button (click)="sendMessage()" class="btn btn-primary">Enviar</button>
              </div>
            </div> 
          </div>
          
    </div> 
</div>
