<div class="page-content space-top p-b65">
	<div class="container fixed-full-area">
	  <div
		class="dzSwipe_card-cont dz-gallery-slider"
		*ngFor="let cliente of clientes; let i = index"
	  >
	  <div class="dzSwipe_card"
	  [ngStyle]="{ transform: currentIndex === i ? transform : '' }"
	  (mousedown)="startDrag($event)"
	  (mousemove)="onDrag($event)"
	  (mouseup)="endDrag($event, cliente)"
	  (mouseleave)="endDrag($event, cliente)"
	  (touchstart)="startDrag($event)"
	  (touchmove)="onDrag($event)"
	  (touchend)="endDrag($event, cliente)"
	  (dblclick)="abrirChat(cliente)">
  
		  <div class="dz-media">
			<img
			  [src]="cliente.avatar || 'assets/images/avatar/1.jpg'"
			  alt=""
			/>
		  </div>
		  <div class="dz-content">
			<div class="left-content">
			  <span class="badge badge-primary d-inline-flex gap-1 mb-2">
				<i class="icon feather icon-map-pin"></i>{{ cliente.address }}
			  </span>
			  <h4 class="title">
				<a
				  (click)="global.previewClient(cliente)"
				  style="cursor: pointer"
				  >{{ cliente.name }}</a
				>
			  </h4>
			  <p class="mb-0">
				<i class="icon feather icon-user"></i> {{ cliente.gender }}
			  </p>
			</div>
			<a class="dz-icon dz-sp-like">
			  <i class="flaticon flaticon-star-1"></i>
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  