	<!-- Menubar -->
		 <div class="menubar-area footer-fixed" [hidden]="global.activeRoute === 'profile'">
		<div class="toolbar-inner menubar-nav">
			<a class="nav-link active" (click)="global.setRoute(auth.isPartner() ? 'home-local' : 'home')">				
				<i class="flaticon flaticon-dog-house" style="color: #fff;"></i>
			</a>
			<a class="nav-link" (click)="global.setRoute('maps')">
				<i class="fas fa-map-marker-alt"></i>
			</a>
			<a class="nav-link" (click)="global.setRoute('explorer')">
				<i class="flaticon flaticon-search"></i>
			</a>
			<a class="nav-link" (click)="global.setRoute('chat')">
				<i class="flaticon flaticon-chat-1"></i>
			</a>
			<a class="nav-link" (click)="global.setRoute('profile')">
				<i class="flaticon flaticon-user"></i>
			</a>
		</div>
	</div> 
	<div class="menubar-area footer-fixed" [hidden]="global.activeRoute === (auth.isPartner() ? 'profile-local' : 'profile')">
		<div class="toolbar-inner menubar-nav">
		  <a class="nav-link active" (click)="global.setRoute(auth.isPartner() ? 'home-local' : 'home')">
			<i class="flaticon flaticon-dog-house" style="color: #fff;"></i>
		  </a>
		  <a class="nav-link" (click)="global.setRoute('maps')">
			<i class="fas fa-map-marker-alt"></i>
		  </a>
		  <a class="nav-link" (click)="global.setRoute('explorer')">
			<i class="flaticon flaticon-search"></i>
		  </a>
		  <a *ngIf="!auth.isPartner()" class="nav-link" (click)="global.setRoute('chat')">
			<i class="flaticon flaticon-chat-1"></i>
		  </a>
		  <a *ngIf="auth.isPartner()" class="nav-link" (click)="global.setRoute('profile-local')">
			<i class="flaticon flaticon-user"></i>
		  </a>
		  <a *ngIf="!auth.isPartner()" class="nav-link" (click)="global.setRoute('profile')">
			<i class="flaticon flaticon-user"></i>
		  </a>
		</div>
	  </div>
	<!-- Menubar -->