<div class="page-content space-top p-b40">
    <div class="container">
        <div class="detail-area">
            <div class="dz-media-card style-2">
                <div class="dz-media">
                    <img src="../assets/images/w3tinder/liked/pic4.png" alt="">
                </div>
                <div class="dz-content">
                    <div class="left-content">
                        <h4 class="title">Chelsea, 21</h4>
                        <p class="mb-0"><i class="icon feather icon-map-pin"></i> 5 miles away</p>
                    </div>
                    <a href="javascript:void(0);" class="dz-icon"><i class="flaticon flaticon-star-1"></i></a>
                </div>
            </div>
            <div class="detail-bottom-area">
                <div class="about">
                    <h6 class="title">Basic information</h6>
                    <p class="para-text">Just moved back to jakarata after living at India for 10+ years. Di luar terlifiat cenger - center di dalam.</p>					
                </div>
                <div class="intrests mb-3">
                    <h6 class="title">Intrests</h6>
                    <ul class="dz-tag-list">
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-camera"></i>
                                <span>Photography</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-music"></i>
                                <span>Music</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-book"></i>
                                <span>Study</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-film"></i>
                                <span>Movies</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-instagram"></i>
                                <span>Instagram</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <i class="icon feather icon-map-pin"></i>
                                <span>Travelling</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="languages mb-3">
                    <h6 class="title">Languages</h6>
                    <ul class="dz-tag-list">
                        <li> 
                            <div class="dz-tag">
                                <span>English</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <span>Spanish</span>
                            </div>
                        </li>
                        <li> 
                            <div class="dz-tag">
                                <span>German</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>