.page-content {
    height: calc(100vh - 60px); /* Ajustar según la altura del header */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .features-list {
    list-style-type: disc; /* o 'none' si no deseas viñetas */
    padding-left: 1.5rem; /* sangría a la izquierda */
    margin: 0;
  }
  
  .feature-item {
    display: list-item; /* asegúrate de que se comporten como ítems de lista */
    margin-bottom: 0.5rem; /* espaciado entre ítems */
  }
  .custom-toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1055;
    border-radius: 1rem;
    background-color: #28a745; /* o tu color primario */
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }
  