<div class="page-wrapper">
  <router-outlet ></router-outlet>
  <app-header [hidden]="global.activeRoute === 'login' || global.activeRoute === 'register'"></app-header>
  <app-sidebar [hidden]="global.activeRoute === 'login' || global.activeRoute === 'register'"></app-sidebar>
  <app-login [hidden]="global.activeRoute!='login'"></app-login>
  <app-home [hidden]="global.activeRoute!='home'"></app-home>
  <app-register [hidden]="global.activeRoute!='register'"></app-register>
  <app-profile [hidden]="global.activeRoute!='profile'"></app-profile>
  <app-menubar [hidden]="global.activeRoute === 'login' || global.activeRoute === 'register'"></app-menubar>
  <app-profile-local [hidden]="global.activeRoute!='profile-local'"></app-profile-local>
  <app-map [hidden]="global.activeRoute!='map'"></app-map>
  <app-favorites [hidden]="global.activeRoute!='favorites'"></app-favorites>
  <app-chat [hidden]="global.activeRoute!='chat'"></app-chat>
  <app-chat-detail [hidden]="global.activeRoute!='chat-detail'"></app-chat-detail>
  <app-detailprofile [hidden]="global.activeRoute!='detail-profile'"></app-detailprofile>
  <app-explorer [hidden]="global.activeRoute!='explorer'"></app-explorer>
  <app-detailprofilelocal [hidden]="global.activeRoute!='detail-profile-local'"></app-detailprofilelocal>
</div>
